{% extends "base.html" %}
{% block title %}Entity Table{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="table-container">
            <h2 class="my-4 title">Entity Table</h2>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark-custom">
                    <tr>
                        <th scope="col">Primary Name</th>
                        <th scope="col">Secondary Name</th>
                        <th scope="col">Is Human</th>
                        <th scope="col">Risk Score</th>
                        <th scope="col">Risk Severity</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Inactive Period (days)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr class="table-row-custom">
                        <td>{{ row['Primary Name'] }}</td>
                        <td>{{ row['Secondary Name'] }}</td>
                        <td>{{ row['Is Human'] }}</td>
                        <td>{{ row['Risk Score'] }}</td>
                        <td>{{ row['Risk Severity'] }}</td>
                        <td>{{ row['Domain'] }}</td>
                        <td>{{ row['Inactive Period (days)'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('entity.entity_table', page=page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('entity.entity_table', page=p) }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                    {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('entity.entity_table', page=page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="d-flex justify-content-center mt 5">
        <div class="card p-4 shadow-sm card-custom">
            <h4 class="text-center mb-4 title">Mark user or add to watch list!</h4>
            <form action="{{ url_for('entity.entity_action')}}" method="post">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="action" id="mark" value="mark">
                    <label class="form-check-label" for="mark" style="color: #ffffff;">
                        Mark Entity
                    </label>
                </div>
                <div class="forn-check mb-3">
                    <input class="form-check-input" type="checkbox" name="action" id="watch" value="watch">
                    <label class="form-check-label" for="watch" style="color: #ffffff;">
                        Add to Watch List
                    </label>
                </div>
                <textarea class="form-control mt-3" id="host-name" name="host-name" placeholder="Enter host name" style="text-align: center;">
                </textarea>
                <button type="submit" class="btn btn-custom btn-block">Submit</button>
            </form>
        </div>
    </div>
    
<style>
    body {
        background-color: #0f4c81;
        color: #ffffff;
    }

    .container {
        max-width: 98%;
        padding: 15px;
        color: #ffffff;
    }

    .title {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #ffffff;
        text-align: center;
    }

    .thead-dark-custom {
        background-color: #007d79;
        color: #ffffff;
    }

    .table-row-custom:nth-child(even) {
        background-color: #007d79;
        color: #ffffff;
    }

    .table-row-custom:nth-child(odd) {
        background-color: #343a40;
        color: #ffffff;
    }

    .table-row-custom:hover {
        background-color: #495057;
        color: #ffffff;
    }

    .table thead th {
        text-align: left;
    }

    .table-bordered {
        border: 1px solid #ced4da;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ced4da;
    }

    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: #495057;
    }
</style>
{% endblock %}
