{% extends "base.html" %}
{% block title %}Stale Accounts{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if tables %}
        <div>
            {% for table in tables %}
                {{ table|safe }} 
            {% endfor %}
        </div>
    {% else %}
        <div class="card p-4 shadow-sm" style="background-color: #2f353b; border: none;">
            <h4 class="text-center mb-4" style="color: #ffffff;">Sort Stale Accounts</h4>
            <form action="{{ url_for('stale.stale_accounts_table') }}" method="POST">
                <h5>Please select how you want to sort the stale accounts:</h5>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" id="risk_score" name="sorting" value="risk_score" checked="checked">
                    <label class="form-check-label" for="risk_score">Risk score</label>
                </div>
                
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" id="is_human" name="sorting" value="is_human">
                    <label class="form-check-label" for="is_human">Is human</label>
                </div>
                
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" id="domain" name="sorting" value="domain">
                    <label class="form-check-label" for="domain">Domain</label>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}
