{% extends "base.html" %}
{% block title %}Stale Accounts{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if tables %}
        <div class="white-text-table">
            {% for table in tables %}
                <div class="white-text-table mb-4">
                    {{ table|safe }}
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a href="{{ url_for('stale.download_table', file_format='csv') }}" class="btn btn-custom mx-2">Download CSV</a>
            <a href="{{ url_for('stale.download_table', file_format='txt') }}" class="btn btn-custom mx-2">Download Text</a>
        </div>

        <div class="text-center mt-4">
            {% if has_next_page %}
                <a href="{{ url_for('stale.stale_accounts_table', cursor=end_cursor) }}" class="btn btn-secondary">Next</a>
            {% endif %}
        </div>
    {% else %}
        <div class="card p-4 shadow-sm border-0">
            <h4 class="text-center mb-4 title">Sort Stale Accounts</h4>
            <form action="{{ url_for('stale.stale_accounts_table') }}" method="POST">
                <h5 class="mb-4">Please select how you want to sort the stale accounts:</h5>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" id="risk_score" name="sorting" value="risk_score" checked="checked">
                    <label class="form-check-label" for="risk_score">Risk score</label>
                </div>
                
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" id="is_human" name="sorting" value="is_human">
                    <label class="form-check-label" for="is_human">Is human</label>
                </div>
                
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" id="domain" name="sorting" value="domain">
                    <label class="form-check-label" for="domain">Domain</label>
                </div>
                
                <button type="submit" class="btn btn-custom btn-block">Submit</button>
            </form>
        </div>
    {% endif %}
</div>

<style>
    body {
        background-color: #0f4c81; /* Classic Blue */
        color: #ffffff; /* White text */
    }

    .white-text-table table,
    .white-text-table th,
    .white-text-table td {
        color: #ffffff; /* White text */
    }

    .white-text-table {
        margin-bottom: 20px;
    }

    .card {
        max-width: 600px;
        margin: 0 auto;
        background-color: #007d79; /* Turquoise */
        color: #ffffff; /* White text */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: none;
    }

    .text-center {
        text-align: center;
    }

    .btn-custom {
        background-color: #ffb400; /* Gold */
        color: #ffffff; /* White text */
        font-weight: 600;
        border-radius: 5px;
        margin: 5px;
    }

    .btn-custom:hover {
        background-color: #0f4c81; /* Classic Blue */
        color: #ffffff; /* White text */
    }

    .btn-secondary:hover {
        background-color: #0f4c81; /* Classic Blue */
        color: #ffffff; /* White text */
    }

    .form-check-input {
        margin-right: 10px;
    }

    .form-check-label {
        margin-bottom: 0;
    }

    .form-check {
        display: flex;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #ffffff; /* White text */
    }
</style>

{% endblock %}
