{% extends "base.html" %}
{% block title %}Falcon Containment{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm" style="background-color: #2f353b; border: none;">
        <h4 class="text-center mb-4" style="color: #ffffff;">Falcon Containment Actions</h4>

        <form action="{{ url_for('containment.list_groups') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">Contain Group</button>
        </form>

        <form action="{{ url_for('containment.hosts_containment_status') }}" method="post">
            <button type="submit" class="btn btn-secondary btn-block">Contain Host</button>
        </form>
    </div>
</div>
{% endblock %}
