{% extends "base.html" %}
{% block title %}Falcon Groups{% endblock %}

{% block content %}
<h1>Falcon Groups</h1>

{% if tables %}
    <div>
        {% for table in tables %}
            {{ table|safe }} 
        {% endfor %}
    </div>
{% endif %}

<br></br>

<div class="form-group">
    <label for="group-id"><h2>Enter the group id to check its members</h2></label>
    <form action="{{ url_for('containment.list_groups') }}" method="post">
        <input
            type="text"
            class="form-control"
            id="group-id"
            name="group-id"
            placeholder="Group id"
        />
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>

<br></br>

{% if member_tables %}
    <h2>Group Members</h2>
    <div>
        {% for table in member_tables %}
            {{ table|safe }}
        {% endfor %}
    </div>

    <h2>Select Action</h2>
    <form action="{{ url_for('containment.group_containment_action') }}" method="post">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="action" id="contain" value="contain" required>
            <label class="form-check-label" for="contain">
                Contain Hosts
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="action" id="lift" value="lift" required>
            <label class="form-check-label" for="lift">
                Lift Containment
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit Action</button>
    </form>
{% endif %}
<br></br>
<br></br>

{% endblock %}
