{% extends "base.html" %}
{% block title %}Contain Falcon Host/s{% endblock %}

{% block content %}
<h1 class="text-center py-4">Contain Falcon Host/s</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow-sm bg-dark text-white border-0">
                <div class="form-group text-center">
                    <label for="host-name">
                        <h4>Enter the host-ids (each in one line) to check containment status</h4>
                    </label>
                    <form id="hostForm" action="{{ url_for('containment.hosts_containment_status') }}" method="post">
                        <textarea class="form-control mt-3" id="host-name" name="host-name" placeholder="Enter one host name per line" rows="5"></textarea>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if host_status_table %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card p-4 shadow-sm bg-dark text-white border-0">
                <h2 class="text-center mb-4">Hosts Containment Status</h2>
                <div class="white-text-table">
                    {{ host_status_table|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card p-4 shadow-sm bg-dark text-white border-0">
        <h4 class="text-center mb-4">Select Action</h4>
        <form id="actionForm" action="{{ url_for('containment.hosts_containment_action') }}#bottom-anchor" method="post" onsubmit="showLoadingSpinner()">
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="action" id="contain" value="contain" required>
                <label class="form-check-label" for="contain">Contain Hosts</label>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="radio" name="action" id="lift" value="lift" required>
                <label class="form-check-label" for="lift">Lift Containment</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit Action</button>
        </form>
    </div>
</div>
{% endif %}

<div class="modal fade" id="logsModal" tabindex="-1" aria-labelledby="logsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="logsModalLabel">Saved Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="logContent"></div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-info" style="position: fixed; bottom: 20px; right: 20px;" data-toggle="modal" data-target="#logsModal">
    View Logs
</button>

<div class="spinner-container" id="loadingSpinner">
    <div class="spinner"></div>
    <div class="spinner-text"><b>60 sec delay</b></div>
</div>

<a id="bottom-anchor"></a>

<style>
    body {
        background-color: #f8f9fa;
    }
    
    h1 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #343a40;
    }

    h4, h2, h5 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .card {
        background-color: #343a40;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
        transform: scale(1.05);
    }

    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
        color: white;
    }

    .btn-info:hover {
        background-color: #117a8b;
        border-color: #0f5c7d;
        transform: scale(1.05);
    }

    .form-check-label {
        cursor: pointer;
        color: #ffffff;
    }

    .form-check-input {
        cursor: pointer;
        margin-right: 10px;
    }

    .white-text-table table,
    .white-text-table th,
    .white-text-table td {
        color: white;
    }

    .spinner-container {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .spinner {
        width: 3rem;
        height: 3rem;
        border: 0.25rem solid #f3f3f3;
        border-top: 0.25rem solid #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-bottom: 1rem;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    .spinner-text {
        color: #ff0000;
        font-size: 1.5rem;
        text-align: center;
    }
</style>

<script>
    function scrollToBottom() {
        document.getElementById('bottom-anchor').scrollIntoView({
            behavior: 'smooth',
            block: 'end'
        });
    }

    function showLoadingSpinner() {
        document.getElementById('loadingSpinner').style.display = 'flex';
        document.getElementById('loadingSpinner').style.flexDirection = 'column';
        document.getElementById('loadingSpinner').style.alignItems = 'center';
        localStorage.setItem('containmentActionSubmitted', 'true');
        
        setTimeout(() => { location.reload(); }, 60000);
    }

    document.getElementById('hostForm').addEventListener('submit', function(event) {
        event.preventDefault(); 

        const formActionURL = this.action;

        fetch(formActionURL, {
            method: 'POST',
            body: new FormData(this)
        }).then(function() {
            scrollToBottom();
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });

    document.getElementById('actionForm').addEventListener('submit', function(event) {
        showLoadingSpinner();
    });

    function fetchLogs() {
        return fetch('/hosts-containment-logs')
            .then(response => response.text())
            .then(data => {
                const logContentElement = document.getElementById('logContent');
                logContentElement.innerHTML = '';
                const rows = data.split('\n');
                const table = document.createElement('table');
                table.classList.add('table', 'table-dark');
                rows.forEach((row, index) => {
                    const tr = document.createElement('tr');
                    const cells = row.split(',');
                    cells.forEach(cell => {
                        const td = document.createElement(index === 0 ? 'th' : 'td');
                        td.innerText = cell;
                        tr.appendChild(td);
                    });
                    table.appendChild(tr);
                });
                logContentElement.appendChild(table);
            })
            .catch(error => console.error('Error fetching logs:', error));
    }

    function checkAndShowLogs() {
        if (localStorage.getItem('containmentActionSubmitted') === 'true') {
            localStorage.removeItem('containmentActionSubmitted');
            fetchLogs().then(() => {
                $('#logsModal').modal('show');
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        if (window.location.hash) {
            let targetElement = document.querySelector(window.location.hash);
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth', block: 'end' });
            }
        }

        checkAndShowLogs();

        $('#logsModal').on('show.bs.modal', function () {
            fetchLogs();
        });
    });
</script>

{% endblock %}
