{% extends "base.html" %}
{% block title %}Contain Falcon Host/s{% endblock %}

{% block content %}
<h1 class="text-center" style="padding: 20px 0;">Contain Falcon Host/s</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-group text-center">
                <label for="host-name"><h4>Enter the host-ids (each in one line) to check containment status</h4></label>
                <form action="{{ url_for('containment.hosts_containment_status') }}" method="post">
                    <textarea
                        class="form-control mt-3"
                        id="host-name"
                        name="host-name"
                        placeholder="Enter one host name per line"
                        rows="5"
                    ></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if host_status_table %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-center">Hosts Containment Status</h2>
                <div class="white-text-table">
                    {{ host_status_table|safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="card p-4 shadow-sm" style="background-color: #2f353b; border: none;">
            <h4 class="text-center mb-4" style="color: #ffffff;">Select Action</h4>
            <form action="{{ url_for('containment.hosts_containment_action') }}" method="post">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="action" id="contain" value="contain" required>
                    <label class="form-check-label" for="contain" style="color: #ffffff;">
                        Contain Hosts
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" name="action" id="lift" value="lift" required>
                    <label class="form-check-label" for="lift" style="color: #ffffff;">
                        Lift Containment
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit Action</button>
            </form>
        </div>
    </div>
{% endif %}

<br><br>

<style>
    .white-text-table table,
    .white-text-table th,
    .white-text-table td {
        color: white;
    }
</style>

{% endblock %}
