{% extends "base.html" %}
{% block title %}End Point{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm" style="background-color: #2f353b; border: none;">
        <h4 class="text-center mb-4" style="color: #ffffff;">End Point Actions</h4>

        <form action="{{ url_for('searchIOCs.search_IOCs_view') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">searchIOCs</button>
        </form>

        <form action="{{ url_for('manageAlerts.manage_alert') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">Manage Alerts</button>
        </form>

        <form action="{{ url_for('manageDetections.manage_detections') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">Manage Detections</button>
        </form>

        <form action="{{ url_for('manageIncidents.manage_incidents') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">Manage Incidents</button>
        </form>

        <form action="{{ url_for('manageBehaviors.manage_behaviors') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">Manage Behaviors</button>
        </form>

        <form action="{{ url_for('crowdscores.crowd_score') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary btn-block">Crowd Score</button>
        </form>
    </div>
</div>
{% endblock %}
