{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8"> 
            <div class="card p-5 shadow-sm border-0">
                <h4 class="text-center mb-4 title">Actions</h4>
                <form action="{{ url_for('stale.stale_accounts') }}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-custom btn-block btn-lg">Stale Accounts</button>
                </form>
                <form action="{{ url_for('containment.falcon_containment') }}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-custom btn-block btn-lg">Falcon Containment</button>
                </form>
                <form action="{{ url_for('adminRights.admin_rights_view') }}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-custom btn-block btn-lg">Admin Rights</button>
                </form>
                <form action="{{ url_for('endPoint.end_point_view') }}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-custom btn-block btn-lg">End Point</button>
                </form>
                <form action="{{ url_for('maliciousFiles.malicious_files') }}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-custom btn-block btn-lg">Malicious Files</button>
                </form>
                <form action="{{ url_for('entity.entities') }}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-custom btn-block btn-lg">Entities</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Buttons Container -->
<div class="action-buttons">
    <!-- Doc Button -->
    <button class="doc-button" onclick="openDocument()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
        </svg>
    </button>

    <!-- Chat Button -->
    <button class="chat-button" onclick="toggleChat()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
        </svg>
    </button>
</div>

<div class="chat-popup" id="chatPopup">
    <div class="chat-header">
        Chat Support
        <button class="close-btn" onclick="toggleChat()">×</button>
    </div>
    <div class="chat-body">
        <h5>Questions</h5>
        <ul class="question-list">
            <li class="question-item" onclick="showAnswer('How can I check stale accounts?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>entities</span></p><p>Navigate to the link below, select filters and submit!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/stale_accounts\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/stale_accounts</a></div>')">
                How can I check stale accounts?
            </li>
            <li class="question-item" onclick="showAnswer('How can I contain hosts?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>Hosts</span></p><p>Navigate to the link below, enter each host name in separate line and submit!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/host-containment\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/host-containment</a></div>')">
                How can I contain hosts?
            </li>
            <li class="question-item" onclick="showAnswer('How can I contain groups?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>Hosts</span></p><p>Navigate to the link below, scroll to the bottom enter group id and submit!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/group-containment\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/group-containment</a></div>')">
                How can I contain groups?
            </li>
            <li class="question-item" onclick="showAnswer('How can I remove admin rights?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>Real Time Response</span></p><p>Navigate to the link below, enter user name, host id and submit!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/admin-rights\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/admin-rights</a> <p><strong>NOTE:</strong> If host is offline we will keep retrying after every 60 seconds so please keep the website ONLINE!</p></div>')">
                How can I remove admin rights?
            </li>
            <li class="question-item" onclick="showAnswer('How can I search for IOCs and detections related to it, alerts, detections, incidents, behaviors and crowdscore?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>IOC Management</span></p><p>Navigate to the link below where you can find different endpoint scripts!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/end-point\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/end-point</a></div>')">
                How can I search for IOCs and detections related to it, alerts, detections, incidents, behaviors and crowdscore?
            </li>
            <li class="question-item" onclick="showAnswer('How can I find Malicious Files?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>On-demand scans (ODS)</span></p><p>Navigate to the link below where you can set filters for malicious files that you want to check!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/malicious-files\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/malicious-files</a></div>')">
                How can I find Malicious Files?
            </li>
            <li class="question-item" onclick="showAnswer('How can I find entities?', '<div class=\'answer-detail\'><p><strong>API Scope Required:</strong> <span class=\'badge badge-primary\'>entities</span></p><p>Navigate to the link below where you can set filters for entities that you want to retrieve!</p><a class=\'btn btn-link\' href=\'http://{{ ip_address }}:{{ port }}/entities\' target=\'_blank\'>http://{{ ip_address }}:{{ port }}/entities</a></div>')">
                How can I find entities?
            </li>
        </ul>
        <div id="answerContainer"></div>
    </div>
</div>

<style>
    body {
        background-color: #0f4c81; /* Classic Blue */
    }

    .card {
        background-color: #007d79; /* Turquoise */
        color: #ffffff; /* White text */
        border: none;
    }

    .btn-custom {
        background-color: #ffb400; /* Gold */
        color: #ffffff; /* White text */
        font-weight: 600;
        border-radius: 5px;
    }

    .btn-custom:hover {
        background-color: #0f4c81; /* Classic Blue */
        color: #ffffff; /* White text */
    }

    .action-buttons {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px; /* Space between the buttons */
    }

    .chat-button, .doc-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        color: white;
        cursor: pointer;
        transition: transform 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 24px;
    }

    .doc-button {
        background-color: #ffb400; /* Gold */
    }
    
    .chat-button {
        background-color: #007d79; /* Turquoise */
    }

    .chat-button:hover, .doc-button:hover {
        transform: scale(1.1);
    }

    .chat-popup {
        position: fixed;
        bottom: 80px;
        right: 20px;
        width: 400px; /* Reduced width */
        max-height: 600px; /* Reduced height */
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1000;
    }

    .chat-popup.show {
        display: block;
    }

    .chat-header {
        background-color: #ffb400; /* Gold */
        color: #ffffff; /* White text */
        padding: 10px; /* Reduced padding */
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .chat-body {
        padding: 15px;
        overflow-y: auto;
        height: 450px; /* Adjusted height */
    }

    .question-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .question-item {
        padding: 10px;
        cursor: pointer;
        color: #007d79; /* Turquoise */
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .question-item:before {
        content: '❓';
        margin-right: 10px;
    }

    .question-item:hover {
        background-color: #f1f1f1;
        color: #0056b3;
    }

    .answer-item {
        background-color: #e9ecef;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        font-size: 14px;
        color: #343a40;
    }

    .answer-detail {
        margin-top: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .close-btn {
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 20px;
        float: right;
        cursor: pointer;
    }

    .close-btn:hover {
        color: #ddd;
    }
</style>

<script>
    // Toggle chat popup visibility
    function toggleChat() {
        var chatPopup = document.getElementById("chatPopup");
        if (chatPopup.classList.contains("show")) {
            chatPopup.classList.remove("show");
        } else {
            chatPopup.classList.add("show");
        }
    }

    function openDocument() {
        // Placeholder function to handle the document button click
        window.open('https://github.com/zayeemZaki/FullStackCrowdStrikeAutomation/blob/main/README.md', '_blank');
    }

    // Show answer in chat body when a question is clicked
    function showAnswer(question, answer) {
        var answerContainer = document.getElementById("answerContainer");

        // Clear any existing answer
        answerContainer.innerHTML = "";

        // Add the question and answer as a new element
        var questionElement = document.createElement("div");
        questionElement.classList.add("answer-item");
        questionElement.innerHTML = "<strong>Q:</strong> " + question + "<br><strong>A:</strong> " + answer;
        answerContainer.appendChild(questionElement);

        // Scroll to the bottom of the chat body
        var chatBody = document.querySelector(".chat-body");
        chatBody.scrollTop = chatBody.scrollHeight;
    }
</script>

{% endblock %}
